.outside {
    margin: 25px;
    .card-divider {
        border-radius: 30px;
        box-shadow: 9px 9px 21px -2px rgba(0,0,0,0.75);
        .user-card {
            border-radius: 30px;
        }
    }
}
