// $theme-colors: ("primary": #eeda8f,
//   "danger": #a1473f,
//   "success": #798a68,
//   "bg-light": #bbbdbb,
//   "custom-color": #867597,
// );

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

#send-button {
  color: white;
  background-color: #007bff;
}

#clear-button {
  color: white;
  background-color: #6c757d;
}

#nav {
  border-radius: 30px;
  box-shadow: inset 0 0 10px -2px rgba(0,0,0,0.75);
}

.darkmode--activated #nav {
  color: white;
  border: 1px solid white;
}

.darkmode--activated label {
  color: white;
}

.darkmode--activated #delete-button {
  background-color: white;
  color: black;
}

.darkmode--activated #send-button {
  background-color: white;
  color: black;
}

.darkmode--activated #clear-button {
  background-color: white;
  color: black;
}

.darkmode--activated #icon {
  color: white;
}

.darkmode--activated .card-body {
  color: white;
  background-color: black;
  // background-color: #867597;
  // border-color: #867597;
}

.darkmode--activated .card-divider-user::before {
  color: white;
}

.darkmode--activated .card-divider-guest::before {
  color: white;
}

.large-text {
  font-size: 25px;
}
