$theme-colors: (
  "primary": #eeda8f,
  "danger": #a1473f,
  "success": #798a68,
  "custom-color": #900,
  );

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.darkmode--activated label {
  color: #bfb6b5;
}

.darkmode--activated .card-body {
  background-color: #867597;
  border-color: #867597;
}


/*
//background
$light-mode-background-color: #bfb6b5;
$dark-mode-background-color: #474840;

//navbar
$light-mode-navbar: #428bca;
$dark-mode-navbar: #292b2c;



body {
  background-color: $light-mode-background-color;
  // background-color: $dark-mode-background-color;
}


.navbar {
  background-color: $dark-mode-navbar
}

*/
